<%@ page language="java" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>BLOG-DESIGN</title>
<script src="${pageContext.request.contextPath}/blog/js/common/jquery-1.7.1.min.js"></script>
<script src="${pageContext.request.contextPath}/blog/common/jquery.js"></script>
<script src="${pageContext.request.contextPath}/blog/js/common/jquery.min.js"></script>
</head>
