<style type="text/css" media="screen">  
  .slides_container {  
    width:600px;  
    height:300px;  
  }  
  .slides_container div {  
    width:600px;  
    height:300px;  
    display:block;  
  }  
</style>  