/* @media screen and (min-width: 800px){ */
	/*设定height100%*/
	html{heigth:100%;}
	html body{margin: 0;padding: 0}
	/*.loginbody{
		background: url("../../images/login/loginbackup.jpg") no-repeat;
	}*/
	/*把body的背景图设置成ing引入图片，再设定position，可解决背景缩放变化，及body高度始终为0的问题（具体为啥 我也不知道）*/
	body img{position: absolute;height: 100%;width: 100%;}

	 /*.frame-style{
		background-color: white;
  		height: 300px;
  		width: 500px;
  		margin-top: 200px;
  		margin-right: 350px;
  		opacity: 0.6;
  		float: right;
	}*/
	.tou-style{
		height: 10px;
  		width: 80px;
  		margin-top: 2%;
  		margin-right: 4%;
  		opacity: 0.6;
  		float: right;
	}
	.regist-style{
		background-color: white;
  		height: 450px;
  		width: 400px;
  		margin-top: 10%;
  		margin-left: 15%;
  		opacity: 0.6;
  		float: left;
	}
	.frame-style{
		background-color: white;
  		height: 300px;
  		width: 600px;
  		margin-top: 12%;
  		margin-right: 15%;
  		opacity: 0.6;
  		float: right;
	}
	/*.frame2-style{
		height:40px;
		width:400px;
		margin-left: auto;
		margin-right: auto;
		border:1px solid;black; 
		margin-top: 50px;
	}*/
	.frame2-style{
		height:40px;
		width:400px;
		margin-left: auto;
		margin-right: 40px;
		border:1px solid;black; 
		margin-top: 50px;
	}
	
	.image-style{
		width: 40px;
		height: 35px;
		vertical-align:middle;
	}
	
	/*.input-style{
  		height: 35px;
  		border: 0;
  		width: 350px;
  		font-size: 14px;
  		font-family: '\5b8b\4f53';
  		vertical-align:middle;
	}*/
	.input-style{
  		height: 38px;	/*input默认边框占据2px*/
  		border: none;
  		width: 350px;
  		font-size: 14px;
  		font-family: '\5b8b\4f53';
  		vertical-align:middle;
  		float: right;		/*设定浮动，与图片分开*/
	}
	
	/*.button-style{		
		height:40px;
		width:400px;
		border:1px solid;black; 
		position: relative;
		left: 50px;
		top: 30px;
	}*/ 

	/*与input样式设置相同*/
	.button-style{
		height: 40px;
  		border: 0;
  		width: 400px;
  		font-size: 14px;
  		font-family: '\5b8b\4f53';
  		vertical-align:middle;
	}
	.cat-style{
		height: 300px;
  		width: 150px;
  		/*margin-top: 200px;
  		margin-right: -50px;*/
  		opacity: 0.6;
  		float: right;
	}
	.regist-title-style{
		float:left;
		margin-top : 30px;
		margin-left: 40px;
		font-size: 30px;
	}

	.login-title-style{
		float:right;
		margin-right: 50px;
		font-size: 30px;
	}
	.regist-input-style{
		height: 30px;	
		float:left;
		margin-top : 20px;
		margin-left: 40px;
  		border:1px solid;black;
  		width: 300px;
  		font-size: 17px;
  		font-family: '\5b8b\4f53';
	}
	.regist-button-style{
		height: 40px;
  		border: 0;
  		float:left;
		margin-top : 20px;
		margin-left: 40px;
  		width: 300px;
  		font-size: 17px;
  		font-family: '\5b8b\4f53';
  		vertical-align:middle;
	}
